<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- <h3>This is my first full fledged angular app</h3>
            <hr> -->
            <!-- <app-server></app-server> -->
            <!-- <app-success-alert *ngIf="success"></app-success-alert>
            <app-warning-alert *ngIf="failure"></app-warning-alert> -->

            <!-- assignment for data binding -->
            <!-- <app-data-binding-example></app-data-binding-example> -->


            <!-- assignment for directive assignment -->
            <app-directive-assignment></app-directive-assignment>
        </div>
    </div>
</div>